* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
}


footer {
  position: fixed;
  bottom: 60px;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 25px;
  color: #999;
}
